.homePageButton {
  color: var(--blue);
  background-color: white;
  border: none;
  font-family: "Dongle", sans-serif;
  font-size: 35px;
  cursor: pointer;
  margin-left: 0.3rem;
}

.homePageQuestion,
.homePageButton {
  font-size: 25px;
}

.questionContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 5rem;
}

.homeHeader {
  margin: 0px;
  padding: 0px;
  font-size: 80px;
}

.homePhrase {
  padding: 0px;
  margin: 0px;
  color: #aaaaaa;
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.homeImgContainer {
  color: white;
  background-color: var(--yellow);
}

.homePageLogo {
  width: 10rem;
  margin-top: 1rem;
}

.inputLabel {
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
}

.inputField {
  background-color: var(--lightGrey);
  border: none;
  font-family: "Dongle", sans-serif;
  padding: 0.2rem;
  font-size: 25px;
  border-radius: 10px;
  padding-left: 0.3rem;
  margin-bottom: 0.5rem;
}

.inputContainer {
  display: grid;
}

.nameInput {
  width: 13.7rem;
}

.namesContainer {
  display: flex;
  justify-content: space-between;
}

.loginButton {
  background-color: var(--pink);
  margin-top: 1rem;
  color: white;
  font-family: "Dongle", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  width: 100%;
  cursor: pointer;
}

.homePageButton:hover {
  transform: none;
}

.homeInputsContainer {
  width: 30rem;
  margin-left: 6rem;
}
.homePageQuestion {
  color: #aaaaaa;
}
.signInContainer {
  display: flex;
  justify-content: center;
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .homeInputsContainer {
    margin-left: -50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .signInContainer {
    margin-left: -50px;
  }
  .homePageLogo {
    position: absolute;
    margin-left: -30px;
  }
  .namesContainer {
    display: grid;
  }
  .inputContainer {
    width: 100%;
  }
  .questionContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
  }
  .headerDiv {
    margin-left: 17%;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .homeInputsContainer {
    margin-left: -50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
  }
  .signInContainer {
    margin-left: -50px;
  }
  .homePageLogo {
    position: absolute;
    margin-left: -30px;
  }
  .namesContainer {
    display: grid;
  }
  .inputContainer {
    width: 300px;
  }
  .headerDiv {
    width: 60%;
    margin-left: 17%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .questionContainer {
    display: flex;
    margin-right: 4.5rem;
    flex-wrap: wrap;
    width: 50%;
  }
  .homePageButton {
    margin-bottom: 20px;
  }
}
