.alreadyInvitedContainer {
  display: flex;
  border-radius: 25px;
  background-color: #e7faff;
  height: 65vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.alreadyInvitedLower {
  background-color: #13cdff;
  width: 38vw;
  height: 60vh;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 25px;
  text-align: center;
  color: white;
}

.whiteOverlay {
  background-color: #13cdff;
  color: red;
}

::marker {
  color: #13cdff;
  background-color: #13cdff;
}

li {
  color: white;
  background-color: #13cdff;
  list-style: none;
}

.alreadyInvitedOverlay {
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  width: 38vw;
  /* height: 20vh; */

  /* background-color: white; */
  cursor: not-allowed;
  /* margin: 50px 10px 20px 0px; */
  border-radius: 25px;
  /* text-align: center; */
  color: #13cdff;
}

.insideAlreadyInvitedOverlay {
  display: flex;
  justify-content: space-around;
  background-color: #13cdff;
}

.guestListTitle {
  margin-left: auto;
  margin-right: auto;
}
.sendInvitesButtonContainer {
  text-align: center;
}
/*-----------------IPAD-------------------------------*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .alreadyInvitedContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 54vw;
    align-items: center;
    justify-content: center;
    background-color: #e7faff;
  }

  .alreadyInvitedLower {
    width: 50vw;
  }

  .insideAlreadyInvitedOverlay {
    display: flex;
    /* justify-content: space-between; */
    background-color: #13cdff;
  }
  li {
    font-size: 25px;
    /* margin-right: 30px; */
  }
  .inviteGuestContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .guestListTitle {
    /* margin-left: 250px; */
    margin-left: auto;
    margin-right: auto;
  }

  .sendInvitesButtonContainer {
    text-align: center;
  }

  .sendInvitesButton {
    color: white;
    background-color: var(--pink);
    font-family: "Dongle", sans-serif;
    border: none;
    font-size: 25px;
    border-radius: 0.7rem;
    padding-top: 0.2rem;
    font-weight: 300;
    cursor: pointer;
    max-height: 40px;
  }
  .inviteGuestContainer {
    margin-left: 60px;
    width: 100vw;
  }
}
/*-----------------PHONE--------------------------------*/

@media screen and (min-width: 375px) and (max-width: 480px) {
  .alreadyInvitedContainer {
    display: flex;
    border-radius: 25px;
    background-color: #e7faff;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
  .alreadyInvitedLower {
    background-color: #13cdff;
    width: 90vw;
    height: 60vh;
    border-radius: 25px;
    text-align: center;
    color: white;
  }

  .whiteOverlay {
    display: flex;
  }

  .whiteOverlay li {
    width: 100px;
  }

  .alreadyInvitedOverlay {
    display: flex;
    width: 100%;
    align-content: flex-start;
  }

  .insideAlreadyInvitedOverlay {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  li {
    font-size: 25px;
  }

  /* .alreadyInvitedOverlay {
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    width: 100vw;
    height: 53vh;

    background-color: white;
    cursor: not-allowed;
    margin: 50px 10px 20px 0px;
    border-radius: 25px;
    text-align: center;
    color: #13cdff;
  } */

  .signOutButton {
    color: white;
    float: right;
    background-color: var(--pink);
    font-family: "Dongle", sans-serif;
    border: none;
    font-size: 20px;
    border-radius: 0.7rem;
    padding-top: 0.2rem;
    width: 5rem;
    font-weight: 300;
    cursor: pointer;
  }
  .submitGuestButton {
    background-color: var(--yellow);
    color: white;
    border: none;
    font-family: "Dongle", sans-serif;
    font-size: 20px;

    border-radius: 1rem;
    position: absolute;
    margin-left: 300px;
  }
  .inviteGuestContainer {
    display: flex;
    background-color: #fff8e5;
    width: 100vw;
    margin: 0 auto;
  }

  .inviteGuestContent {
    padding: 0px;
    width: 90px;
  }

  .inviteGuestLabel {
    font-size: 25px;
    font: normal;
    padding: 0rem;
  }
  .inviteGuestInput {
    width: 48px;
  }

  .guestListHeader {
    margin-top: 40px;
  }

  .guestListTitle {
    margin-left: auto;
    margin-right: auto;
    height: 225px;
    width: 60vw;
  }

  .form {
    height: 225px;
  }
  .sendInvitesButtonContainer {
    text-align: center;
  }
  .sendInvitesButton {
    color: white;
    background-color: var(--pink);
    font-family: "Dongle", sans-serif;
    border: none;
    font-size: 25px;
    border-radius: 0.7rem;
    padding-top: 0.2rem;
    width: 9rem;
    font-weight: 300;
    cursor: pointer;

    max-height: 40px;
  }
}
