.editPartyContent {
  display: grid;
  place-items: center;
  border-radius: 25px;
}

.editPartyHeader {
  margin: 0px;
  font-weight: 400;
  font-size: 60px;
}

.editPartyContent1 {
  background-color: var(--lightblue);
  padding: 2rem;
  width: 80%;
  border-radius: 25px;
}

.editPartyAddress {
  font-size: 26px;
  width: 96.5%;
  max-width: 100%;
}
.editPartyAddressForm {
  width: 90%;
  max-width: 90%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.editPartyAddressContainer {
  margin-bottom: 1rem;
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationAndEdit,
.detailsAndEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 80%;
  gap: 20px;
}

.detailsPara {
  max-width: 90%;
  margin: 0px 10px;
  text-align: center;
}

.editPartyButtonsContainer {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.xButton {
  background-color: var(--lightblue);
  color: var(--blue);
  border: none;
  font-size: 31px;
  border-radius: 10px;
  font-family: "Dongle", sans-serif;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.editPartyInput {
  background-color: var(--lightGrey);
  border: none;
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  max-width: 50%;
  margin-bottom: 1rem;
}

.editPartySubmitButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--yellow);
  border: none;
  color: var(--white);
  font-size: 30px;
  padding-top: 0.3rem;
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.editPartyLooksGoodButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--pink);
  border: none;
  color: var(--white);
  border-radius: 10px;
  font-size: 30px;
  margin-top: 2rem;
  margin-bottom: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.editButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--pink);
  border: none;
  color: white;
  font-size: 25px;
  width: 50px;
  height: 40px;
  padding-top: 0.3rem;
  border-radius: 0.8rem;
  min-width: 50px;
  cursor: pointer;
}

.formFirstRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
}

.firstRowContent {
  min-width: 32%;
  flex-grow: 1;
  height: 100%;
}

.secondRowContent {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.editAddressAndDetails {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.EPformSecondRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1.5rem;
  flex-grow: 1;
}
.formThirdRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1.5rem;
}

.editParaAndButton {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 20px;
  align-items: center;
}

.editRowContainer {
  background-color: var(--blue);
  border-radius: 22px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.editRowHeader {
  color: var(--white);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.editRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border-radius: 22px;
  height: auto;
  flex-grow: 1;
  align-items: center;
}

.locationNames {
  display: grid;
}

.locationName {
  margin: 0px;
}

.editCityStateZip {
  display: flex;
  gap: 10px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* MOBILE */
@media screen and (max-width: 480px) {
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .formFirstRow {
    flex-wrap: wrap;
  }
  .editRowContainer {
    width: 100%;
    max-width: 100%;
  }
  .editAddressAndDetails {
    flex-wrap: wrap;
  }
  .secondRowContent {
    width: 100%;
    max-width: 100%;
  }
}
