.editPartyContent {
  display: grid;
  place-items: center;
  border-radius: 25px;
}

.editPartyHeader {
  margin: 0px;
  font-weight: 400;
  font-size: 60px;
}

.editPartyContent1 {
  background-color: var(--lightblue);
  padding: 2rem;
  width: 80%;
  border-radius: 25px;
}

.editPartyAddress {
  font-size: 26px;
}

.editPartyAddressContainer {
  margin-bottom: 1rem;
}

.locationAndEdit,
.detailsAndEdit {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.detailsPara {
  width: 55%;
  font-size: 25px;
}

.editPartyButtonsContainer {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.xButton {
  background-color: var(--lightblue);
  color: var(--blue);
  border: none;
  font-size: 31px;
  border-radius: 10px;
  font-family: "Dongle", sans-serif;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.editPartyInput {
  background-color: var(--lightGrey);
  border: none;
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  width: 15rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.editPartySubmitButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--yellow);
  border: none;
  color: var(--white);
  font-size: 30px;
  padding-top: 0.3rem;
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.editPartyLooksGoodButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--pink);
  border: none;
  color: var(--white);
  border-radius: 10px;
  font-size: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.editButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--pink);
  border: none;
  color: white;
  font-size: 25px;
  width: 50px;
  height: 40px;
  padding-top: 0.3rem;
  border-radius: 0.8rem;
  margin-top: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
}

.formFirstRow {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: space-between;
}

.firstRowContent {
  width: 33%;
  height: 100%;
}

.secondRowContent {
  width: 49%;
  height: 100%;
}

.inputForm {
  display: grid;
  align-items: center;
  width: 50rem;
  justify-content: space-evenly;
  width: 100%;
}

.editAddressAndDetails {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.formSecondRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1.5rem;
}
.formThirdRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1.5rem;
}

.editParaAndButton {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
  margin-right: 1rem;
}

.editRowContainer {
  background-color: var(--blue);
  border-radius: 22px;
}

.editRowHeader {
  color: var(--white);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.editRow {
  display: grid;
  background-color: var(--white);
  border-radius: 22px;
}

#details {
  height: 9rem;
}

.locationNames {
  display: grid;
}

.locationName {
  margin: 0px;
}

.editCityStateZip {
  display: flex;
  justify-content: space-between;
}
/* MOBILE */
@media screen and (max-width: 480px) {
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .formFirstRow {
    flex-wrap: wrap;
  }
}
/* LAPTOP OR BIGGER */
@media screen and (min-width: 769px) {
}

/* MOBILE
@media screen and (max-width: 480px) {
  .editRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .editButton {
    font-family: "Dongle", sans-serif;
    background-color: var(--pink);
    border: none;
    color: var(--white);
    font-size: 25px;
    width: 40px;
    height: 40px;
    padding-top: 0.3rem;
    border-radius: 0.8rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
  }
  .editPartyInput {
    background-color: var(--lightGrey);
    border: none;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-family: "Dongle", sans-serif;
    font-size: 25px;
  }
  .formThirdRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
  }
  .center {
    display: flex;
    justify-content: center;
  }
} */

/* TABLET
@media screen and (min-width: 481px) and (max-width: 768px) {
  .editRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .editButton {
    font-family: "Dongle", sans-serif;
    background-color: var(--pink);
    border: none;
    color: var(--white);
    font-size: 25px;
    width: 40px;
    height: 40px;
    padding-top: 0.3rem;
    border-radius: 0.8rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
  }
  .editPartyInput {
    background-color: var(--lightGrey);
    border: none;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-family: "Dongle", sans-serif;
    font-size: 25px;
  }
  .formThirdRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
  }
  .center {
    display: flex;
    justify-content: center;
  }
} */
