.RSVPimage {
  width: 35rem;
}

.homeImgContainer {
  background-color: var(--blue);
  height: 100vh;
}

.homePage {
  display: flex;
}

.homeText {
  text-align: center;
  margin: 0px;
}

.homePageInputs {
  margin-left: 3rem;
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .homePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    width: 50%;
  }

  .homePageInputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .homePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }
  .homeImagecontainer {
    width: 100%;
  }
  .RSVPimage {
    width: 100%;
  }
  .homePageInputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
