.RSVPimage {
  width: 35rem;
}

.homePage {
  display: flex;
}

.homeText {
  text-align: center;
}

.homePageInputs {
  margin-left: 3rem;
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .homePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .homePageInputs {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
