.search-results-container {
  display: flex;
  flex-direction: column;
  background-color: var(--pink);
  border-radius: 20px;
  width: 336px;
  align-items: center;
  margin: 1rem;
}
.search-results-container p {
  font-size: 2rem;
  height: fit-content;
}
.search-results {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-results-header {
  color: white;
  margin: 10px;
}
.search-results-body {
  background-color: white;
  color: var(--pink);
  width: 100%;
  border-radius: 20px;
  flex-grow: 1;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.search-results-body p {
  margin: 20px;
}
.search-results-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin: 0px 0px 20px 0px;
}
.search-results-buttons button {
  background-color: var(--blue);
  border: none;
  color: white;
  font-family: "Dongle", sans-serif;
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 0px 20px;
}
.search-results-not-found button {
  margin: 15px 10px 0px 10px;
}
