.addPartyTitle {
  margin: 0px;
  padding: 0px;
  font-size: 60px;
}

.addPartyPhrase {
  margin: 0px;
  padding: 0px;
  color: var(--textGrey);
  margin-bottom: 2rem;
  font-size: 30px;
}

.cityStateZip {
  display: flex;
  justify-content: space-between;
}

.formFirstRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.firstRowInput {
  width: 15rem;
}

.formSecondRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
}

.inputContent {
  display: grid;
}

.addPartyInput,
.details {
  background-color: var(--lightGrey);
  border: none;
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
}

.addPartySubmitButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--blue);
  border: none;
  color: white;
  font-size: 30px;
  width: 24%;
  margin-top: 1rem;
  padding-top: 0.3rem;
  border-radius: 0.8rem;
  margin-top: 2.5rem;
}

.details {
  height: 9rem;
}

.addPartyContent {
  display: grid;
  place-items: center;
}

.addressLine1 {
  width: 28rem;
  margin-bottom: 0.7rem;
}

.cityInput,
.stateInput,
.zipInput {
  width: 8rem;
}

.addPartyAddress {
  margin: 0px;
}

.addressLabel {
  font-size: 20px;
}

.details {
  width: 20rem;
}
