.addPartyTitle {
  margin: 0px;
  padding: 0px;
  font-size: 60px;
}

.addPartyPhrase {
  margin: 0px;
  padding: 0px;
  color: var(--textGrey);
  margin-bottom: 2rem;
  font-size: 30px;
}

.cityStateZip {
  display: flex;
  justify-content: space-between;
}

.addDetailsFormFirstRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.firstRowInput {
  width: 15rem;
}

.formSecondRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.addPartyDetailsContainer {
  margin-left: 30px;
}
.inputContent {
  display: grid;
  width: auto;
}

.addPartyInput,
.details {
  background-color: var(--lightGrey);
  border: none;
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
}

.addPartySubmitButton {
  font-family: "Dongle", sans-serif;
  background-color: var(--blue);
  border: none;
  color: white;
  font-size: 30px;
  width: 24%;
  margin-top: 1rem;
  padding-top: 0.3rem;
  border-radius: 0.8rem;
  margin-top: 2.5rem;
}

.details {
  height: 9rem;
}

.addPartyContent {
  display: grid;
  place-items: center;
  margin-bottom: 60px;
}

.addressLine1 {
  width: auto;
  margin-bottom: 0.7rem;
}

.cityInput,
.stateInput,
.zipInput {
  width: auto;
}

.addPartyAddress {
  margin: 0px;
}

.details {
  width: 20rem;
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .addPartyContent {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .addPartyTitle {
    width: 65%;
    text-align: center;
  }
  .addPartyPhrase {
    width: 60%;
    text-align: center;
  }
  .addDetailsFormFirstRow {
    width: 100%;
    justify-content: center;
  }
  .formSecondRow {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
  }

  .cityStateZip {
    display: grid;
  }

  .addPartyDetailsContainer {
    margin-left: 0px;
    margin-top: 30px;
  }
  .addPartyAddressContainer {
    min-width: 100%;
  }
  .inputContent {
    place-items: center;
    width: 100%;
    justify-self: center;
  }
  .addPartyForm {
    width: 100%;
  }
  .formSecondRow p {
    text-align: center;
  }
  .addPartyAddress {
    display: none;
  }
  .addressLine1 {
    width: 15rem;
    margin-bottom: 0.7rem;
  }
  .cityInput,
  .stateInput,
  .zipInput {
    width: 15rem;
  }
  .addPartyForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addPartySubmitButton {
    margin-bottom: 0px;
  }
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .addPartyContent {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .addPartyTitle {
    width: 65%;
    text-align: center;
  }
  .addPartyPhrase {
    width: 60%;
    text-align: center;
  }
  .addDetailsFormFirstRow {
    width: 100%;
    justify-content: center;
  }
  .firstRowInput {
    width: 21rem;
  }
  .formSecondRow {
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .addressLine1 {
    width: 21rem;
    margin-bottom: 0.7rem;
  }
  .cityStateZip {
    display: grid;
  }

  .addPartyDetailsContainer {
    margin-left: 0px;
    margin-top: 30px;
  }
  .addPartyAddressContainer {
    min-width: 100%;
  }
  .inputContent {
    place-items: center;
    width: 100%;
    justify-self: center;
  }
  .addPartyForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formSecondRow p {
    text-align: center;
  }
  .addPartyAddress {
    display: none;
  }
  .cityInput,
  .stateInput,
  .zipInput {
    width: 21rem;
  }
  .addPartySubmitButton {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 769px) {
  .addressLabel {
    font-size: 20px;
  }
}
