.guestCard {
  background-color: aqua;
}

/* .guestForm {
  display: flex;
}



.guestForm {
  display: flex;
  justify-content: space-around;
}
.guestList {
  min-width: 500px;
  border-radius: 25px;
  background: #13cdff;
  padding: 20px;
  width: 200px;
  height: 150px;
} */

/* .guestListTitle {
  text-align: center; */
/* border-radius: 25px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
  background-color: blue; */
/* } */
