.inviteGuestContainer {
  display: flex;
  background-color: #fff8e5;
  border-radius: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.inviteGuestLabel {
  padding: 1rem;
  font-size: 25px;
}

.inviteGuestInput {
  border-radius: 8px;
  margin-right: 15px;
  border: none;
  font-size: 25px;
  font-family: "Dongle", sans-serif;
}

.submitGuestButton {
  background-color: var(--yellow);
  color: white;
  border: none;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  height: 2.5rem;
  width: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  cursor: pointer;
}

.inviteGuestsSecondRow {
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
  background-color: #e7faff;
  width: 55rem;
  padding: 2rem;
  gap: 1.5rem;
}

.inviteParty {
  background-color: #13cdff;
  opacity: 1;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-size: 25px;
  width: 35%;
}

.guestListContainer {
  background-color: var(--blue);
  border-radius: 25px;
  width: 60%;
}

.testDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  min-height: 15rem;
  border-radius: 25px;
  padding: 1rem;
}

.boxOverlay {
  background-color: white;
  cursor: not-allowed;
  border-radius: 25px;
  text-align: center;
  color: #13cdff;
  width: 100%;
  height: 85%;
  display: grid;
  place-items: center;
  font-size: 30px;
}

.guestListTitle {
  background-color: #13cdff;
  height: 47vh;
  width: 38vw;
  left: 0;
  opacity: 1;
  border-radius: 25px;
  text-align: center;
  color: white;
}

.guestListHeader,
.newPartyHeader {
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 40px;
}

.guestForm {
  padding-bottom: 1rem;
  margin: 0px;
  border: none;
  background-color: white;
  cursor: not-allowed;
  border-radius: 10px;
  padding: 0px;
  background-color: var(--lightblue);
  color: var(--blue);
}

.sendInvitesButton {
  color: white;
  background-color: var(--pink);
  font-family: "Dongle", sans-serif;
  border: none;
  font-size: 25px;
  border-radius: 0.7rem;
  padding-top: 0.2rem;
  font-weight: 300;
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.guestCard {
  display: flex;
  width: 50%;
}

.firstNameInput {
  border: none;
  flex-shrink: 1;
  font-family: "Dongle", sans-serif;
  color: #13cdff;
  font-size: 22px;
  outline: none;
  background-color: var(--lightblue);
  padding: 0.5rem;
  border-radius: 10px;
}

.lastNameInput {
  color: #13cdff;
  justify-content: flex-start;
  border: none;
  flex-shrink: 1;
  font-family: "Dongle", sans-serif;
  font-size: 22px;
  outline: none;
  background-color: var(--lightblue);
}

.emailInput {
  color: #13cdff;
  border: none;
  flex-shrink: 1;
  font-family: "Dongle", sans-serif;
  font-size: 22px;
  padding: 2px;
  margin-right: 10px;
  outline: none;
  background-color: var(--lightblue);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  color: red;
  width: 24rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
