:root {
  --pink: #ff94c3;
  --blue: #13cdff;
  --yellow: #fecc51;
  --lightGrey: #f3f3f3;
  --textGrey: #bababa;
}

.hide {
  display: none;
}

.App {
  font-family: "Dongle", sans-serif;
  font-size: 35px;
}
